*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

MiBodyAndroid/app/src/main/java/com/mibody/app/activity/MainActivity.java

MiBodyAndroid/app/src/main/java/com/mibody/app/activity/MainActivity.java
